<div [class]="currentClass">
	<mat-toolbar style="padding:47px 0;">
		<div class="container navbar-keep-left">
			
		<div *ngIf="currentUrl==='/'">
			<mat-form-field color="warn" style="display: inline-block;">
				<mat-label>Türler</mat-label>
				<mat-select [(value)]="typeSelectedValue" multiple>
					<mat-option value="tümü">Tümü</mat-option>
					<mat-option value="filmler">Filmler</mat-option>
					<mat-option value="diziler">Diziler</mat-option>
				</mat-select>
			</mat-form-field>
			
			<mat-form-field style="display: inline-block; margin-left:10px;">
				<mat-label>Sırala</mat-label>
				<mat-select [(value)]="sortSelectedValue">
					<mat-option value="desc">Puana göre (Azalan)</mat-option>
					<mat-option value="asc">Puana göre (Artan)</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
			
			<button *ngIf="currentUrl==='/create'" mat-raised-button color="primary" routerLink=""><mat-icon>chevron_left</mat-icon> Listeye Geri Dön</button>
	
			<button mat-raised-button color="primary" routerLink="/create" class="navbar-keep-right"><mat-icon>add</mat-icon> Yeni Kayıt</button>
		</div>
	</mat-toolbar>
	
	<router-outlet></router-outlet>
	
	
	<div class="theme-box" [ngClass]="{'open': themBoxState}">
		<p>Tema Rengi Seçiniz.</p>
		<div class="brown" (click)="changeColor('theme-brown')"></div>
		<div class="gray" (click)="changeColor('theme-gray')"></div>
		<div class="blue" (click)="changeColor('theme-blue')"></div>

		<div class="sticky-button" (click)="themBoxState=!themBoxState"><mat-icon>dehaze</mat-icon></div>
	</div>
</div>